
<link rel="stylesheet" media="all" type="text/css" href="index.css" />

<div class="about-container">

<div class="about-title">
<br>
<a> LET'S SHARE<br>YOUR<br>"POwww"</a>
</div>

<div class="intro">

<br>
<p>みんなの日常の中で生まれる、たくさんのチカラを持ったコトバ</p>
<br>
<p><h2>パワーワード</h2></p>

<br>
<p>思わずクスッと笑顔になるような、ちょっぴり勇気をくれるような。</p>

<p>そんなコトバ達をこの <a>POwww.com</a> で</p>

<p>みんなとシェアしよう。</p>

<br>
<p>何だか少し元気が出ないそんなとき。</p>
<br>
<p>ここでたくさんの <a>”POwwwワード"</a> がキミを待ってるよ！</p>


</div>
</div>


<div class="posts-container">

<br>
<br>
<br>
<h1>＼ POST一覧 ／</h1>

<br>
<%= form_tag posts_path, method: :get, class: 'boards__searchForm' do %>
  <%= tag.label "CATEGORY" %>
  <%= select_tag :tag_id,
              options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                  {
                    prompt: 'ALL',
                    onchange: 'submit(this.form);'
                  }
  %>
<% end %>  
<br>
<%= page_entries_info @posts %>

<% @posts.each do |t| %>
  <div class="post"> 
    <div class="main-box">  
      <div class="left-container">
        <a href="/users/<%= t.user.id %>"><%= image_tag t.user.image_url, size: "50x50" if t.user.image? %></a>
    </div>
      <div class="right-container">
        <div class="username" >
          <a href="/users/<%= t.user.id %>"><%= t.user.name %></a><p><%= t.created_at.strftime('%Y/%m/%d') %></p>
        </div>
          <%= t.word %>
    <br>

<div class="bottom-container">
    <% if user_signed_in? %>
      <% if current_user.already_liked?(t) %>
        <%= link_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
          <div class="icon">
            <i class="fas fa-grin-stars fa-lg"></i><%= t.likes.count %></div>
          <% end %>    
      <% else %>
          <%= link_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
          <div class="icon">
          <i class="far fa-meh-blank fa-lg"></i><%= t.likes.count %></div>
          <% end %>         
      <% end %>   
    <% else %>
        <%= link_to new_user_registration_path do %> 
        <div class="icon">
        <i class="fas fa-grin-stars fa-lg"></i><%= t.likes.count %></div>
        <% end %>
        <% end %>
 
     <%= link_to post_path(t.id) do %>
       <div class="icon">
       <i class="fas fa-info-circle fa-lg"></i></div>
       <% end %>
    <% if user_signed_in? && current_user.id == t.user_id %>
      <%= link_to edit_post_path(t.id) do %>
        <div class="icon">
        <i class="fas fa-pencil-alt fa-lg"></i></div>
        <% end %>
        <%= link_to post_path(t.id), method: :delete do %>
        <div class="icon">
        <i class="fas fa-trash-alt fa-lg"></i></div>
      <% end %>
     <% end %>
   </div>
  </div>
  </div>
<% end %>
<%= paginate @posts %>

<br>
<br>
<br>
<h1>＼ 人気のPOST ／</h1>

<br>
<%= page_entries_info @posts %>

  <% @rank_posts.each do |t| %>
    <div class="post"> 
    <div class="main-box"> 
    <div class="left-container">
    <a href="/users/<%= t.user.id %>"><%= image_tag t.user.image_url, size: "50x50" if t.user.image? %></a>
    </div>
      <div class="right-container">
      <div class="username" >
      <a href="/users/<%= t.user.id %>"><%= t.user.name %></a><p><%= t.created_at.strftime('%Y/%m/%d') %></p>
      </div>
      <%= t.word %>
      <br>
      <%= image_tag t.image_url, size: "250x200" if t.image? %>
  
    <div class="bottom-container">
      <% if user_signed_in? %>
        <% if current_user.already_liked?(t) %>
          
        <%= link_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
            <div class="icon">
            <i class="fas fa-grin-stars fa-lg"></i><%= t.likes.count %></div>
            <% end %>    
        <% else %>
            <%= link_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
            <div class="icon">
            <i class="far fa-meh-blank fa-lg"></i><%= t.likes.count %></div>
            <% end %>         
        <% end %>   
      <% else %>
          <%= link_to new_user_registration_path do %> 
          <div class="icon">
          <i class="fas fa-grin-stars fa-lg"></i><%= t.likes.count %></div>
          <% end %>
          <% end %>
      <%= link_to post_path(t.id) do %>
          <div class="icon">
          <i class="fas fa-info-circle fa-lg"></i></div>
          <% end %>
      <% if user_signed_in? && current_user.id == t.user_id %>
        <%= link_to edit_post_path(t.id) do %>
        <div class="icon">
        <i class="fas fa-pencil-alt fa-lg"></i></div>
        <% end %>
        <%= link_to post_path(t.id), method: :delete do %>
        <div class="icon">
        <i class="fas fa-trash-alt fa-lg"></i></div>
        <% end %>
       <% end %>
     </div>
    </div>
    </div>
  <% end %>
<%= paginate @posts %>
</div>
</div>

