<!DOCTYPE html>

<%= stylesheet_link_tag 'application', :media => "all" %>

<html>
  <head>
    <title>Po笑erwor.com</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
  <header>
      
      <%= link_to posts_path do %>
        <h1>POwww.com</h1>
      <p>日常のコトバに潜む、みんなのpowww。</p>
      <% end %>
      

      <div id="hamburg">
      <input id="input" type="checkbox">
      <label id="label1" for="input"><div class="line1"></div><div class="line2"></div><div class="line3"></div></label> 
    <div id="content"> 
      <ul class="list">
        <li><a href="/posts/new">NEW POST</a></li>
        </li>
        <% if user_signed_in? %>
          <li><%= link_to " MY PAGE", user_path(current_user.id) %></li>
          <li><%= link_to "LOG OUT", destroy_user_session_path, method: :delete %></li>
          </li>
        <% else %>
          <li><%= link_to "LOGIN", new_user_session_path %></li>
          <li><%= link_to "アカウント作成", new_user_registration_path %></li>
        <% end %> 
      </ul>
    </div>
  </div>
</header>

    <main>
    <%= yield %>
    </main>
    
    <br>

    <footer>
    <small>© 2021 Koharu Okada</small>
 </footer>


  </body>


</html>
